.arc.arc-0 path { fill: #98abc5; }
.arc.arc-1 path { fill: #8a89a6; }
.arc.arc-2 path { fill: #7b6888; }
.arc.arc-3 path { fill: #6b486b; }
.arc.arc-4 path { fill: #a05d56; }
.arc.arc-5 path { fill: #d0743c; }
.arc.arc-6 path { fill: #ff8c00; }
