$blue: #098aae;
$violet: #684684;
$green: #00a79d;
$orange: #eda646;
$black: #222a2b;

/* Axis */

.d3 .axis {
  line { fill: none; stroke-width: 2px; stroke: $black; }
  path { fill: none; stroke-width: 2px; stroke: $black; }
  text { fill: $black };
}

/* Area Chart */

.d3 .area {
  fill: $blue;
  stroke-width: 0px;
  stroke: $black;
  opacity: 0.85;
}

/* Line Chart */

.d3 .line {
  fill: none;
  stroke-width: 1.5px;
  stroke: $black;
}

/* Bar Chart */

.d3 .bar {
  fill: $orange;
  stroke-width: 0px;
  stroke: $black;
  opacity: 0.7;
}

/* Pie Chart */

svg.d3 {
  .arc.arc-0 path { fill: #98abc5; }
  .arc.arc-1 path { fill: #8a89a6; }
  .arc.arc-2 path { fill: #7b6888; }
  .arc.arc-3 path { fill: #6b486b; }
  .arc.arc-4 path { fill: #a05d56; }
  .arc.arc-5 path { fill: #d0743c; }
  .arc.arc-6 path { fill: #ff8c00; }
}

/* Simple Arcs */

svg.d3.simple-arc1 path {
  fill: #98abc5;
}

svg.d3.simple-arc2 path {
  fill: #d0743c;
}
