$blue: #098aae;
$violet: #684684;
$green: #00a79d;
$orange: #eda646;
$black: #222a2b;

/* Axis */

.d3 .axis {
  line { fill: none; stroke-width: 1px; stroke: $black; }
  path { fill: none; stroke-width: 1px; stroke: $black; }
  text { fill: $black; }
}

.d3 .grid {
  line { fill: none; stroke-width: 1px; stroke: grey; }
  text { display: none; }
}

/* Area Chart */

.d3 .area {
  fill: $blue;
  stroke-width: 0px;
  stroke: $black;
  opacity: 0.85;
}

/* Line Chart */

.d3 .line {
  fill: none;
  stroke-width: 1.5px;
  stroke: $black;
}

/* Bar Chart */

.d3 .bar {
  fill: $orange;
  stroke-width: 0px;
  stroke: $black;
  opacity: 0.7;
}

/* Pie Chart */

.d3 {
  .pie.pie-0 path { fill: #98abc5; }
  .pie.pie-1 path { fill: #8a89a6; }
  .pie.pie-2 path { fill: #7b6888; }
  .pie.pie-3 path { fill: #6b486b; }
  .pie.pie-4 path { fill: #a05d56; }
  .pie.pie-5 path { fill: #d0743c; }
  .pie.pie-6 path { fill: #ff8c00; }
}

/* Simple Arcs */

.d3 path.arc {
  fill: #98abc5;
}

.simple-arc1 .d3 .arc {
  fill: #98abc5;
}

.simple-arc2 .d3 .arc {
  fill: #d0743c;
}

.area.area-stacked.savings {
  fill: #d0743c;
}


.area.area-stacked.optimal {
  fill: #98abc5;
}
