<div class="row-fluid">
  <p>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h1>OMG CHARTZ!</h1>
      <p>{{hello}}</p>
      <d3-data src="data/data.csv" data="line" columns="year, savings"></d3-data>
      <d3-chart>
        <d3-axis data="line" name="year" label="Year" orientation="bottom" ticks="5"></d3-axis>
        <d3-axis data="line" name="savings" label="Savings" orientation="left" ticks="5"></d3-axis>
        <d3-line data="line" x="year" y="savings"></d3-line>
        <d3-area data="line" x="year" y="savings"></d3-area>
        <d3-bars data="line" x="year" y="savings"></d3-bars>
      </d3-chart>
      <d3-chart>
        <d3-donut data="line" value="year" amount="savings"></d3-donut>
      </d3-chart>
    </div>
  </div>
</div>
